.content-container {
    padding-block: var(--space-32);
}

.header .title {
    font-weight: 600;
    font-size: var(--font-size-24);
}

.task-overlay .overlay-content .button-container,
.add-task-overlay .overlay-content .button-container {
    display: flex;
    gap: var(--space-16);
}

.task-item .task-button {
    width: 100%;
    text-align: left;
}

.task-item .task-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.task-item .task-due-date {
    font-size: 1rem;
    color: var(--dark-grey);
    margin-top: 1rem;
}

/* grid view */
.grid-view .task-item .arrow-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.grid-view {
    margin-top: var(--space-32);
    padding: 0 var(--space-4) var(--space-8);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-view .task-item {
    margin-top: var(--space-16);
    background-color: var(--white);
    min-width: 30rem;
    border-radius: var(--radius-8);
    filter: drop-shadow(3px 3px 3px #9E9E9E);
}

/*.grid-view .tasks-list.green {
    box-shadow: var(--green-shadow);
}*/

.grid-view .task-item .task-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: var(--space-4) var(--space-4);
}

/* add task overlay */
.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: fixed; /*fixes form on page with no other content*/
    left: 0;
    top: 0;
    z-index: 1000;
    padding: var(--space-48) var(--space-32) var(--space-32);
    display: grid;
    place-items: center;
    overflow-y: auto;
}

/*.overlay.hide {
    display: none;
}*/

.overlay-content {
    border: 2px solid var(--black);
    border-radius: var(--radius-8);
    padding: var(--space-32);
    max-width: 654px;
    position: relative;
    background-color: var(--overlay-bg-color);
}

.overlay-content .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -25px;
    margin-right: -16px;
}

.add-task-overlay .header {
    font-weight: 600;
    font-size: var(--font-size-24);
}

/* view task overlay */
.task-overlay .header {
    font-size: var(--font-size-16);
    font-weight: 600;
    margin-top: var(--space-4);
}

.task-overlay .header.no-margin {
    margin-top: 0;
}

.task-overlay .header.min-width {
    min-width: 90px;
}

.task-overlay .overlay-content .value {
    margin-top: var(--space-16);
    line-height: 16px;
}

.task-overlay .overlay-content .control-buttons-container {
    margin-top: var(--space-32);
    display: flex;
    gap: var(--space-16);
}

.fa-xmark {
    font-size: 1.4rem;
}

/* big screens */
/*@media (min-width: 768px) {
    .list-view .task-item .task-button {
        align-items: flex-start;
    }

    .list-view .task-item .task-name {
        grid-column: 1 / 2;
    }

    .list-view .task-item .task-due-date {
        grid-column: 2 / 3;
        grid-row: auto / auto;
        margin-top: 0;
        text-align: center;
    }

    .list-view .task-item .arrow-icon {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        height: 100%;
        display: flex;
        align-items: center;
    }

}*/