* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

:root {
    --font-size-24: 24px;
    --font-size-16: 16px;
    --font-size-14: 14px;

    --black: #000;
    --dark-grey: #504e4e;
    --white: #fff;

    --bg-color : #F0F0F0;
    --overlay-bg-color : #BDBDBD;

    --black-shadow: 4px 4px 0px var(--black);

    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-48: 48px;

    --radius-8: 8px;

    --input-height: 45px;
}

html, body {
    height: 100%;
}

.form {
    max-width: 338px;
}

.lp-btn {
    width: 97%;
    margin-top: var(--space-16);
    margin-bottom: var(--space-4);
}

.max-width-container {
    max-width: 1232px;
    margin-inline: auto;
    padding-inline: var(--space-32);
    margin-top: 1.2rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/*.height-full {
    height: 100%;
}*/

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.white-background {
    background: var(--white);
}

.lgray-background {
    background: #EEEEEE;
}

.mgray-background {
    background: #C0C0C0;
}

form * {
    font: inherit;
    background-color: transparent;
}

.form {
    margin-top: var(--space-32);
}

.form-label {
    font-weight: 600;
    font-size: var(--font-size-16);
    margin-top: var(--space-16);
    display: inline-block;
}

.form-label:first-child {
    margin-top: 0;
}

.form-control, .textarea-input {
    border: 2px solid var(--black);
    border-radius: var(--radius-8);
    width: 100%;
    padding: var(--space-8);
    margin-top: var(--space-8);
}

.textarea-input {
    resize: none;
}

.form .cta-button {
    margin-top: var(--space-32);
}

.btn {
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    color: currentColor;
    border: 2px solid #757575;
    box-shadow: 4px 4px 0px #757575;
    border-radius: var(--radius-8);
}

.circle-button {
    width: 50px;
    height: 50px;
    padding: var(--space-8);
    border-radius: 100%;
}

.regular-button {
    font-weight: 600;
    padding-inline: var(--space-16);
}

@media (min-width: 768px) {
    .row {
        display: flex;
    }

}
