@model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Index";
}

<!-- grid view -->
<div class="grid-view">
    <!-- list -->
    <div>
        <h2 class="grid-header">
            <span class="text">To do</span>
        </h2>
        <ul class="tasks-list">

            @foreach (TaskModel t in Model)
            {
                <li class="task-item">
                    <a class="task-button" asp-controller="Task" asp-action="Details" asp-route-id="@t.TaskID">
                        <div>
                            <p class="task-name">@t.TaskName</p>
                            <p class="task-due-date">@t.DueDate</p>
                        </div>

                        <i class="fa-solid fa-angle-right arrow-icon"></i>
                    </a>
                </li>
            }

        </ul>
    </div>
</div>