@model TaskModel
@{
    string title = ViewBag.Action + " Task";
    ViewBag.Title = title;    // sets title to "Add Product" or "Update Product"
}

<h1>@ViewBag.Title</h1>

<div id="set-task-overlay" class="overlay set-task-overlay">
    <div class="overlay-content pink-background">
        <!-- close button -->
        <button class="btn circle-button blue-background flex justify-center items-center close-button">
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </button>

        <h1 class="header">Add tasks</h1>

        <form asp-action="Update" class="form" method="post">

            <label asp-for="TaskName" class="form-label">Task Name</label>
            <input asp-for="TaskName" type="text" name="name" class="form-control white-background" required>

            <label asp-for="Description" class="form-label">Task Description</label>
            <textarea asp-for="Description" name="description" rows="8" class="textarea-input white-background"></textarea>

            <h2 class="form-label">Due date</h2>

            <div class="divided-inputs-container">
                <div>
                    <label asp-for="DueDate" class="secondary-label">Day</label>
                    <input asp-for="DueDate" type="text" name="due-date-day" id="due-date-day" class="form-control white-background" required>
                </div>

                
            </div>

            <h2 class="form-label">Priority</h2>

            <div id="priority-select" class="priority-select white-background flex items-center justify-between cursor-pointer">
                <span>Standard</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <ul id="priority-dropdown" class="priority-dropdown white-background hide">
                <li>
                    <input type="radio" name="priority-option" id="standard-radio" value="Standard" class="radio-input">
                    <label for="standard-radio" class="radio-label">
                        <span class="circle pink-background"></span>
                        <span>Standard</span>
                    </label>
                </li>

                <li>
                    <input type="radio" name="priority-option" id="important-radio" value="Important" class="radio-input">
                    <label for="important-radio" class="radio-label">
                        <span class="circle blue-background"></span>
                        <span>Important</span>
                    </label>
                </li>

                <li>
                    <input type="radio" name="priority-option" id="urgent-radio" value="Urgent" class="radio-input">
                    <label for="urgent-radio" class="radio-label">
                        <span class="circle green-background"></span>
                        <span>Urgent</span>
                    </label>
                </li>
            </ul>

            <input type="hidden" asp-for="TaskID" />

            <div class="text-center">
                <button type="submit" class="btn regular-button cta-button green-background">@ViewBag.Action</button>
                <a asp-controller="Home" asp-action="Index" class="btn beige-background">Cancel</a>
            </div>
            
        </form>
    </div>
</div>
